# Node.js dependencies
node_modules/

# Environment variables
.env
./.env


# Logs
logs/
*.log

# Build outputs
dist/
build/

# Cache
.npm
.cache/
.eslintcache

# IDEs e editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Outros arquivos comuns
coverage/
.nyc_output
.env.*
!.env.example